@font-face {
    font-family: 'SolaimanLipi';
    src: url('SolaimanLipi.woff2') format('woff2'),
         url('SolaimanLipi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}